*.jpg
*.psd
*.png
*.rtf
*.codekit
scale-and-rename-photos.workflow/Contents/document.wflow
scale-and-rename-photos.workflow/Contents/Info.plist
*.pdf
*.ico
*.MOV
*.gif
*.docx
www/sftp-config.json
www/scripts/reference/jquery.cycle.lite.js
www/scripts/reference/jquery.rollover.js
www/scripts/reference/shadowbox.js
node_modules/*